@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/************background image, logo, statement*********/
/***introduction section***/
.introduction-section-container{
    height: 100vh;
 
  background: url("../images/exo-index-pic.png"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: center;
  padding: 0;
  margin: 0;
}
.intro-portion{
    background-color: transparent;
    min-width: 60vh;
    }


.introduction-header{
    font-family: "Exo",sans-serif;
    color: #f3f3f3;
    padding: 0;
    margin: 0;
    }
.intro-statement{
    color:#f3f3f3;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: bold;
    padding: 0;
    margin: 0;

}
.img-thumbnail {
    padding: 0;
    border: 0px;
    
    width: 100px;
    height:100px;

}
.intro-pic{
    padding: 0;
    margin: 0;
}
/***end of introduction section***/

/***about section***/

.about-title{
    color: #f3f3f3;
    font-family: "Exo", sans-serif;
    margin-top: 50px;
}
.about-container{
     min-height: 60vh;
     background-color: #97a8b1;
}
.about-underline{
    background-color: #999090;
    width: 180px;
    height:4px;
    margin-left: 0;

}
.about-para{
    color:  #f3f3f3;
    font-family: "Roboto" , sans-serif;
    font-weight: 300;
    text-align: justify;
   
}
.about-picture{
    background: url("../images/exo-index-image.jpg") center/cover no-repeat;
   margin:0;
   padding: 0;
    
}
/***end of about section***/

/***navigation bar section***/
.navbar-logo{
width: 200 px;
height: 100 px;
padding: 0;
margin: 0;
background: transparent;
}
/***end of navigation bar section***/
/***footer section***/
